@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("https://w.wallhaven.cc/full/wy/wallhaven-wypeyx.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-calc(100vw + 60px);
  width: calc(100vw + 60px);
  height: -webkit-calc(100vh + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
