@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(-10%, #6190e8), color-stop(110%, #a7bfe8));
  background: -webkit-linear-gradient(left, #6190e8 -10%, #a7bfe8 110%);
  background: -o-linear-gradient(left, #6190e8 -10%, #a7bfe8 110%);
  background: linear-gradient(to right, #6190e8 -10%, #a7bfe8 110%);
  color: #fff;
  font-family: "Muli", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.result-container #result {
  word-wrap: break-word;
  max-width: -webkit-calc(100% - 40px);
  max-width: calc(100% - 40px);
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border: none;
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
}

.btn:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

input {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

input:focus, input:active {
  outline: none;
}
