@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(-20%, #a8c0ff), to(#3f2b96));
  background: -webkit-linear-gradient(left, #a8c0ff -20%, #3f2b96);
  background: -o-linear-gradient(left, #a8c0ff -20%, #3f2b96);
  background: linear-gradient(to right, #a8c0ff -20%, #3f2b96);
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
}

img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn.left {
  background: -webkit-gradient(linear, left top, right top, from(#134e5e), to(#71b280));
  background: -webkit-linear-gradient(left, #134e5e, #71b280);
  background: -o-linear-gradient(left, #134e5e, #71b280);
  background: linear-gradient(to right, #134e5e, #71b280);
}

.btn.right {
  background: -webkit-gradient(linear, right top, left top, from(#134e5e), to(#71b280));
  background: -webkit-linear-gradient(right, #134e5e, #71b280);
  background: -o-linear-gradient(right, #134e5e, #71b280);
  background: linear-gradient(to left, #134e5e, #71b280);
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
